{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<form method="POST">
  <h3 align="center">Sign Up</h3>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Enter first name"
    />
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input
      type="text"
      class="form-control"
      id="lastName"
      name="lastName"
      placeholder="Enter last name"
    />
  </div>
  <div class="form-group">
    <label for="password1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter password"
    />
  </div>
  <div class="form-group">
    <label for="password2">Password (Confirm)</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm password"
    />
  </div>
  <div class="form-group">
    <label for="gender">Gender</label>
    <select class="form-control" id="gender" name="gender">
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
    </select>
  </div>
  <div class="form-group">
    <label for="age">Age</label>
    <input
      type="number"
      class="form-control"
      id="age"
      name="age"
      placeholder="Enter age"
    />
  </div>
  <div class="form-group">
    <label for="dateOfBirth">Date of Birth</label>
    <input
      type="date"
      class="form-control"
      id="dateOfBirth"
      name="dateOfBirth"
      placeholder="Enter date of birth"
    />
  </div>
  <div class="form-group">
    <label for="occupation">Occupation</label>
    <input
      type="text"
      class="form-control"
      id="occupation"
      name="occupation"
      placeholder="Enter occupation"
    />
  </div>
  <div class="form-group">
    <label for="purpose">Purpose</label>
    <input
      type="text"
      class="form-control"
      id="purpose"
      name="purpose"
      placeholder="Enter purpose"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
